@import "/src/style/config";

.Player {
  display: block; // instead of list-item
  background: $light;
  position: relative;

  p {
    margin: 0;
    padding: 0.3rem 0.7rem 0.7rem;
  }

  .percentage_coloring {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.4rem;
    background: $primary; // fallback for if the browser does not support gradients
    background: linear-gradient(90deg, $secondary, $primary);
    transition: all 0.2s ease;
  }

  &:hover .percentage_coloring {
    transform: scale(1, 2);
    background: linear-gradient(160deg, #bf0073, #ff7200);
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    border: none;
    background: transparent;
    font-family: inherit;
    font-size: initial;
    cursor: pointer;

    transition: all 0.2s ease;

    background: $primary;
    color: white;

    &:hover {
      background: #ff7200;
    }
  }
}
